/* src/components/NewTeam.module.css */

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2,
h3 {
    color: var(--text-color);
}

label {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    all: unset;
    background-color: var(--gray30);
    padding: 10px;
    margin-top: 5px;
    border-radius: 12px;

}

.joinLink {
    display: flex;
    align-items: center;
    gap: 10px;
}

.joinLink span {
    color: var(--text-color);
}

.member {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addMember,
.createTeam {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--yellow);

}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.addMember {
    color: var(--yellow);
    background-color: var(--main-bg-color);
}

.createButton {
    background-color: var(--gray40);
    border: none;
    border-radius: 16px;
    padding: 10px 20px;
    color: var(--text-color);
    cursor: pointer;
    height: 45px;
}


.required {
    color: var(--red);
}