.newTeamForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.teamNameLabel,
.joinLinkLabel,
.memberNameLabel,
.memberEmailLabel,
.memberPhoneLabel {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.newTeamForm input[type='text'],
.newTeamForm input[type='email'],
.newTeamForm input[type='tel'] {
  /* all: unset; */
  background-color: var(--gray30);
  padding: 10px;
  margin-top: 5px;
  border-radius: 12px;
}

.joinLink {
  display: flex;
  align-items: center;
  gap: 10px;
}

.joinLink span {
  color: var(--text-color);
}

.member {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.createTeamButton {
  background-color: var(--gray40);
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  color: var(--text-color);
  cursor: pointer;
  height: 45px;
  box-shadow: inset 1px 0px 0.3px 0.3px rgba(255, 255, 255, 1);
}

.required {
  color: var(--red);
}

.memberHr {
  color: var(--gray30);
  width: 90%;
  height: 1px;
  margin: 15px;
}
