.storeItemLink {
  text-decoration: none;
  color: inherit;
  display: contents; /* Ensures the link behaves like a table row */
  cursor: pointer;
}

.storeItem {
    height: 65px;
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;

}

.duplicateButton,
.deleteButton {

  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;

}

.duplicateButton {
  color: var(--yellow);
}

.deleteButton {
  height: 30px;
  aspect-ratio: 1/1;
  background-color: var(--gray40);
  border-radius: 8px;
  border: 1px solid var(--red);
  color: var(--red);
  ;
}