.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 20px;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed var(--gray30);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 20px;
}

.uploadLabel {
  text-align: center;
  cursor: pointer;
}

.uploadText {
  font-size: 1.2em;
}

.uploadSubText {
  font-size: 0.8em;
  color: var(--gray50);
}

.fileInput {
  display: none;
}

.inputContainer {
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
}

.inputContainer label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.inputContainer input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray90);
  border-radius: 4px;
  background-color: var(--gray30);
  color: var(--text-color);
}
.small {
  display: flex;
  margin-bottom: 5px;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  && .inputContainer {
    width: 45%;
  }
}
