@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.container {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.262);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}



/* 
.allpopup{
    display: flex;
    justify-content: center;
    /* border: 2px solid firebrick;  
     z-index: 100; 
}  */

@keyframes slideIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;

    }
}

.popup {
    /* max-width: 700px; */
    /* width: 800px;
    height: 400px; */
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-self: center;
    position: relative;
    animation: slideIn 0.3s ease-in-out;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    /* margin: 10px; */
}

.top {

    /* border-bottom: 1px solid #E8E8E8; */
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 20px;
    width: 100%;
}

.close {
    width: 24px;
    cursor: pointer;
}