@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.container {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.262);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}



/* 
.allpopup{
    display: flex;
    justify-content: center;
    /* border: 2px solid firebrick;  
     z-index: 100; 
}  */

@keyframes slideIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;

    }
}

.popup {
    width: fit-content;
    min-width: 37%;
    max-width: 70%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    align-self: center;
    position: relative;
    animation: slideIn 0.3s ease-in-out;
    gap: 25px;
    padding: 30px, 30px, 25px, 30px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 10px;

}

.main {
    display: flex;
    
    flex-direction: column;
    max-height: 90%;
    overflow-y: auto;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--gray20);
    border-radius: 20px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--gray50);
}

.top {

    /* border-bottom: 1px solid #E8E8E8; */
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 30px 10px 20px;
    width: 100%;
    gap: 25px;
}

.close {
    height: 38px;
    width: 38px;
    border: 1px var(--text-color) solid;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray30);
    border-radius: 8px;

}