/* src/Pages/Store/StoreSetUp.module.css */

.container {
    padding: 20px;
  }
  
  .saveButton {
    float: right;
    padding: 10px 20px;
    background-color: var(--gray40);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--gray30);
    border-radius: 16px;
    color: var(--text-color);
    border-spacing: 0;
    overflow: hidden;
  }
  
  .thead {
    color: var(--gray80);
    background-color: var(--gray40);
    width: 100%;
    border-radius: 16px;
    height: 45px;
    font-size: 13px;
    font-weight: 400;
    line-height: 14.56px;
    letter-spacing: -1px;
    text-align: left;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
  }
  
  .table td {
    border-bottom: 1px solid var(--gray50);
    height: 65px;
  }
  
  .card {
    display: flex;
    align-items: center;
  }
  
  .cardImage {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 10px;
  }
  
  .newCardButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--yellow);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  