.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--gray10);
  }
  
  .createButton {
    background-color: var(--gray20);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
  }
  