.addUserForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addUserTitle {
  color: var(--text-color);
}

.userLabel,
.addUserLabel {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.addUserForm input[type="text"],
.addUserForm input[type="email"],
.addUserForm input[type="tel"] {
  all: unset;
  background-color: var(--gray30);
  padding: 10px;
  margin-top: 5px;
  border-radius: 12px;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addUserButtons {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.addUserButton {
  color: var(--yellow);
  background-color: var(--main-bg-color);
}

.submitButton {
  background-color: var(--gray40);
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  color: var(--text-color);
  cursor: pointer;
  height: 45px;
  box-shadow: inset 1px 0px 0.3px 0.3px rgba(255, 255, 255, 1);
}

.userHr {
  color: var(--gray30);
  width: 90%;
  height: 1px;
  margin: 15px;
}
