/* src\Layout\style.module.css */

.appContainer {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto;
  background-color:black; 
  color: #ffffff; 
}
